<p-dataView [value]="comments" layout=grid
[rows]="12" [paginator]="true" paginatorPosition="both"
[lazy]="true" (onLazyLoad)="loadComments($event)" [totalRecords]="totalRecords"
>
    <!-- Table Header -->
    <p-header>
        <div class="ui-g">
            <div class="ui-g-8" style="text-align: left; font-size: 25px;">
                <span>Comments</span>
            </div>
            <div class="ui-g-4" style="text-align: right;">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </p-header>

    <!-- List view -->

    <ng-template let-comment pTemplate="listItem">
        <div class="ui-g-4">
            <div class="ui-g">
                <div class="ui-g-3" style="text-align: center; height: 100%">
                    <img id="user-image" src="assets/images/user.png" />
                </div>
                <div class="ui-g-9">
                        <div class="ui-g-12 comment-id"><span>{{comment.id}} </span></div>
                        <div class="ui-g-12 comment-name"><span>{{comment.name}} </span></div>
                        <div class="ui-g-12 comment-email"><span>{{comment.email}}</span> </div>
                        <div class="ui-g-12 comment-desc"><span>{{comment.body}}</span> </div>
                </div>
            </div>
            <hr class="ui-widget-content" style="border-top:0">
        </div>
    </ng-template>

    <!-- Grid view -->
    <ng-template let-comment pTemplate="gridItem">
            <div style="padding:3px" class="ui-g-12 ui-md-3">
                <p-panel [header]="comment.id" [style]="{'text-align':'center'}">
                    <img id="user-image" src="assets/images/user.png">
                    <div class="comment-name"><span>{{comment.name}}</span></div>
                    <div class="comment-email"><span>{{comment.email}}</span></div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <div class="comment-body"><span>{{comment.body}}</span></div>
                </p-panel>
            </div>
        </ng-template>
</p-dataView>